/********************************
    GENERAL 
********************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400);
*::-moz-selection {
  color: #faf;
  background: rgba(0, 0, 0, 0.2); }

*::selection {
  color: #faf;
  background: rgba(0, 0, 0, 0.2); }

body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  margin: 0;
  padding: 0; }

#wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 0%; }

#wrapper h2 {
  margin-left: 30px; }

#about, #resume, #contact {
  padding: 10px 5%; }

/*** Header: General ***/
#logo {
  text-align: center; }

header {
  margin: 0;
  padding: 5px 0 0;
  width: 100%; }
  header ul {
    margin: 0; }
  header h1 {
    display: none; }
  header h2 {
    padding: 0; }
  header a {
    text-decoration: none;
    color: #000;
    outline: none; }

.sig {
  width: 90%;
  padding: 10px; }

.personalPicture {
  display: block;
  width: 200px;
  border-radius: 100%;
  border: 4px solid #fff;
  margin: 0 auto; }

/* Nav */
nav {
  clear: both;
  text-align: center;
  margin-top: 20px;
  font-size: .90em;
  font-weight: bold; }
  nav ul {
    margin: 0;
    padding: 0; }
  nav li {
    display: inline-block;
    text-align: center;
    padding: 10px 1px; }
  nav a {
    text-decoration: none;
    padding: 10px; }

/*** About: General ***/
#about {
  padding: 10px 5%;
  clear: both;
  vertical-align: middle;
  min-height: 300px;
  display: table-cell; }

/*** Portfolio: General ***/
#portfolio {
  padding: 10px 0; }
  #portfolio ul {
    margin: 0;
    padding: 0; }
  #portfolio li {
    margin: 0;
    list-style: none;
    float: left;
    width: 50%; }

.portfolioItem {
  width: 100%;
  overflow: hidden; }
  .portfolioItem img {
    width: 100%; }

/*** Resume: General ***/
#resume {
  clear: both; }

/*** Contact: General ***/
/*** Footer: General ***/
footer p {
  text-align: center; }

/********************************
    COLORS 
********************************/
/*** Header: Color ***/
header {
  background-color: #eee; }

.personalPicture {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5); }

.personalPicture:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3); }

/* Navigation */
nav a {
  background: #ccc; }

nav a:hover {
  background: #aaa; }

/*** About: Color ***/
#about {
  color: #fff;
  background: linear-gradient(30deg, #229955, #11aa88); }

/*** Portfolio: Color ***/
/*** Resume: Color ***/
#resume {
  color: #fff;
  background: linear-gradient(30deg, #229955, #11aa88); }

/*** Contact: Color ***/
#contact {
  background: #ddd; }

/********************************
    ANIMATIONS
********************************/
#about, #resume, #contact, .personalPicture {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out; }

.personalPicture {
  -moz-transform: translate(0, 2px);
  -webkit-transform: translate(0, 2px);
  transform: translate(0, 2px);
  -moz-transform: scale(0.995, 0.995);
  -webkit-transform: scale(0.995, 0.995);
  transform: scale(0.995, 0.995); }

.personalPicture:hover {
  -moz-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); }

/*
<filter id="dropshadow" height="150%">
  <feGaussianBlur in="SourceAlpha" stdDeviation="3"/> <!-- stdDeviation is how much to blur -->
  <feOffset dx="0" dy="2" result="offsetblur"/> <!-- how much to offset -->
  <feMerge> 
    <feMergeNode/> <!-- this contains the offset blurred image -->
    <feMergeNode in="SourceGraphic"/> <!-- this contains the element that the filter is applied to -->
  </feMerge>
</filter>

////add this to before the svg color = style="filter:url(#dropshadow)" 
*/
