<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">-->
  <link rel="apple-touch-icon" sizes='144x144' href="img/favicon-144.png" />
  <link rel="icon" sizes='16x16 32x32 48x48 64x64' href="img/favicon.png">
  <link rel="stylesheet" href="style.css" type="text/css">

</head>

<body>
  <div class ng-app="percApp" ng-controller="percCtrl" ng-init="cash=1;credit=1">
    <div class="row"> 
      <label>Cash: </label>
      <input type="number" placeholder="Enter Cash Amout" ng-model="cash"></div>
    <div class="row"> 
      <label>Credit: </label>
      <input type="number" placeholder="Enter Credit Amout" ng-model="credit"></div>
    <div class="row"> 
      <h3>Difference of {{percent()}}%</h3></div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="script.js"></script>
</body>

</html>